POSTGRES_HOST=seu-host-aqui
POSTGRES_PORT=5432
POSTGRES_PASSWORD=sua-senha-aqui
POSTGRES_USER=seu-usuario-aqui
POSTGRES_DB=nome-db
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB?sslmode=require
